/* RESET */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1100px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}

.movie {
    border: 1px solid magenta;
    padding: 3rem;
}

.d-flex {
    display: flex;
}